.navbar.navbar-fluid-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Classifieds", root_path, class: "brand"
      .container.nav-collapse
        %ul.nav
          %li= link_to "Link 1", "/path1"
          %li= link_to "Link 2", "/path2"
          %li= link_to "Link 3", "/path3"
