.navbar.navbar-fluid-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Clasificados", root_path, class: "brand"
      .container.nav-collapse
        %ul.nav
          %li= link_to "Crear Alerta", new_alert_path
        = form_tag pages_path, remote: true, class: "navbar-search pull-right" do
          %input.search-query{placeholder: "Ej: Apartaestudio", type: "text", name: "keyword"}
          %button.btn{type: "submit"} Buscar
