<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Listado de coincidencias en los clasificados el dia <%= Date.today %></h3>
    <ul>
      <% @results.each do |result| %>
        <h2><%= result[0].name %></h2>
        <ul>
          <% result[1].each do |classified| %>
            <li><%= classified.content %></li>
            <hr>
          <% end %>
        </ul>
      <% end %>
    </ul>
  </body>
</html>