<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Listado de coincidencias en los clasificados el dia <%= Date.today %></h3>
    <ul>
      <% @classifieds.each do |classified| %>
        <li><%= classified.content %></li>
        <hr>
      <% end %>
    </ul>
  </body>
</html>