/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-tag
 *= require_tree .
 */

.loading{
  background:rgba(255,255,255,0.85) url(/assets/ajax-loader.gif) no-repeat center;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -moz-box-shadow:0 0 4px rgba(0,0,0,0.3);
  -webkit-box-shadow:0 0 4px rgba(0,0,0,0.3);
  box-shadow:0 0 4px rgba(0,0,0,0.3);
  bottom:0;
  height:120px;
  left:0;
  margin:auto;
  position:fixed;
  right:0;
  top:0;
  width:120px;
  z-index:999;
}